<div class="comment">
  <table width="600" class="list">
    <tbody>
      <tr class="odd">
        <td>Item name</td>
        <td><%=h inventory_order_item.item.name %></td>
      </tr>

      <tr class="even">
        <td>Quantity</td>
        <td><%=h inventory_order_item.quantity %></td>
      </tr>

      <tr class="odd">
        <td>Rate</td>
        <td><%=h inventory_order_item.rate %></td>
      </tr>

      <tr class="even">
        <td>Discount percent</td>
        <td><%=h inventory_order_item.discount_percent %></td>
      </tr>

      <tr class="odd">
        <td>Discount amount</td>
        <td><%=h inventory_order_item.discount_amount %></td>
      </tr>

      <tr class="even">
        <td>Additional charges</td>
        <td><%=h inventory_order_item.additional_charges %></td>
      </tr>

      <tr class="odd">
        <td>Tax percent</td>
        <td><%=h inventory_order_item.tax_percent %></td>
      </tr>

      <tr class="even">
        <td>Total</td>
        <td><%=h inventory_order_item.total %></td>
      </tr>
    </table>
  </table>

</div>
