<% form_for(invoice) do |f| %>
  <%= f.error_messages %>

  <div class="label-field-pair">
    <label for="title">Title<span class="necessary-field">*</span></label>
    <div class="text-input-bg"><%= f.text_field :title %></div>
  </div>

  <div class="label-field-pair">
    <label for="description">Description</label>
    <div class="text-input-bg"><%= f.text_field :description %></div>
  </div>

  <div class="label-field-pair">
    <label for="dob"><%= t('start_date') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg">
      <%= calendar_date_select_tag 'invoice[start_date]',
        I18n.l(Date.today,:format=>:default),
        :year_range => 0.years.ago..5.years.from_now, :popup=>"force" %>
    </div>
  </div>

  <div class="label-field-pair">
    <label for="dob"><%= t('due_date') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg">
      <%= calendar_date_select_tag 'invoice[due_date]',
        I18n.l(Date.today,:format=>:default),
        :year_range => 0.years.ago..5.years.from_now, :popup=>"force" %>
    </div>
  </div>

  <% if student %>
    <%= hidden_field_tag :student_id, student.id  %>
  <% else %>
    <div class="label-field-pair">
      <label><%= t('course_and_batch') %><span class="necessary-field">*</span></label>
      <div class="text-input-bg"><%= select_tag "batch", options_from_collection_for_select(Batch.all, 'id', 'full_name', '1') %></div>
    </div>
  <% end %>

  <div>
    <%= f.submit 'Create', :class => 'submit_button' %>
  </div>

<% end %>
