<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
  <% if invoices.any? %>
    <tr class="tr-head">
      <th>ID</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Payer</th>
      <th>Payable</th>
      <th>Actions</th>
    </tr>
    <tr class="tr-blank"></tr>

    <% invoices.each_with_index do |invoice, i| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= link_to invoice.id, invoice %></td>
        <td class="col-1"><%= invoice.created_at.to_date %></td>
        <td class="col-1"><%= invoice.updated_at.to_date %></td>
        <td class="col-1"><%= invoice.title %></td>
        <td class="col-2"><%= invoice.description %></td>
        <td class="col-2"><%= invoice.start_date %></td>
        <td class="col-2 <%= 'text-warning' if invoice.due_date.past? %>"><%= invoice.due_date %></td>
        <td class="col-2"><%= invoice.amount_in_bucks %></td>
        <td class="col-2"><%= invoice.status %></td>
        <td class="col-2"><%= invoice.payer.full_name %></td>
        <td class="col-2"><%= link_to "#{invoice.payable.hostel.name} - #{invoice.payable.room_number}", invoice.payable %></td>
        <td class="col-2">
          <%= link_to 'Edit', edit_invoice_path(invoice) %>
          <%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr class="tr-<%= cycle('odd', 'even') %>">
      <td class="col-2">No invoices created</td>
    </tr>
  <% end %>
</table>
