<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>New hostel fees</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">
  <div id="necessary-field-notification"> Fields marked with <span class="necessary-field">*</span> must be filled.</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <%= render :partial => "form", :locals => { :invoice => @invoice, :student => nil } %>

  <% if @student %>
    <div class="h-spacer-20"></div>
    <h3>Invoices for <%= @student.full_name %></h3>
    <%= render :partial => "list", :locals => { :invoices => @invoices } %>
  <% end %>
</div>
