<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Listing Invoices </h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <%= render :partial => "list", :locals => { :invoices => @invoices } %>

  <div class="h-spacer-20"></div>

  <%= link_to 'New invoice', new_invoice_path, :class => 'action_button' %>
</div>
