<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Invoice detail</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="detail">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <table width="700" class="list">
    <tbody>
      <tr class="odd left">
        <td class="">ID</td>
        <td class="right"><%=h @invoice.id %></td>
      </tr>

      <tr class="even left">
        <td>Created at</td>
        <td class="right"><%=h @invoice.created_at.to_date %></td>
      </tr>

      <tr class="odd left">
        <td>Updated at</td>
        <td class="right"><%=h @invoice.updated_at.to_date %></td>
      </tr>

      <tr class="odd left">
        <td class="">Title</td>
        <td class="right"><%=h @invoice.title %></td>
      </tr>

      <tr class="even left">
        <td>Description</td>
        <td class="right"><%=h @invoice.description %></td>
      </tr>

      <tr class="odd left">
        <td>Start date</td>
        <td class="right"><%=h @invoice.start_date %></td>
      </tr>

      <tr class="odd left">
        <td class="">Due date</td>
        <td class="right <%= 'text-warning' if @invoice.due_date.past? %>"><%=h @invoice.due_date %></td>
      </tr>

      <tr class="even left">
        <td>Amount</td>
        <td class="right"><%=h @invoice.amount_in_bucks %></td>
      </tr>

      <tr class="odd left">
        <td>Status</td>
        <td class="right"><%=h @invoice.status %></td>
      </tr>

      <tr class="odd left">
        <td class="">Payer</td>
        <td class="right"><%=h @invoice.payer.full_name %></td>
      </tr>

      <tr class="even left">
        <td>Payable</td>
        <td class="right"><%= link_to "#{@invoice.payable.hostel.name} - #{@invoice.payable.room_number}", @invoice.payable %></td>
      </tr>

    </tbody>
  </table>

  <%= link_to 'Edit', edit_invoice_path(@invoice) %> |
  <%= link_to 'Back', invoices_path %>

</div>
