<div class="box">

  <% if can? :read, ItemCategory %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "Item categories" , item_categories_path %> </div>
      <div class="link-descr">Manage Item categories</div>
    </div>
  <% end %>

  <% if can? :read, Item %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "Items" , items_path %>  </div>
      <div class="link-descr">Manage Items</div>
    </div>
  <% end %>

  <% if can? :read, Indent %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "Indents" , indents_path %>  </div>
      <div class="link-descr">Manage indents</div>
    </div>
  <% end %>

  <% if can? :read, PurchaseOrder %>
    <div class="link-box">
      <div class="link-heading"><%= link_to "Purchase orders" , purchase_orders_path %>  </div>
      <div class="link-descr">Manage purchase orders</div>
    </div>
  <% end %>

  <div class="extender"></div>
</div>

<% @stores.each do |store| %>
  <h3><%= store.name %></h3>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <% if @items.any? %>
      <tr class="tr-head">
        <th>Item name</th>
        <th>Available Quantity</th>
      </tr>

      <% @items.each_with_index do |item, i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"><%=h item.name %></td>
          <td class="col-2"><%=h item.available_quantity %></td>
        </tr>
      <% end %>
    <% else %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2">No Items added</td>
      </tr>
    <% end %>
  </table>
<% end %>
