<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Listing Rooms </h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <%= link_to 'New room', new_room_path, :class => 'action_button' %>

  <% @hostels.each do |hostel| %>
    <h3><%= hostel.name %></h3>

    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <% if hostel.rooms.any? %>
        <tr class="tr-head">
          <th>Room number</th>
          <th>Students per room</th>
          <th>Rent</th>
          <th>Actions</th>
        </tr>

        <% hostel.rooms.order(:room_number).each_with_index do |room, i| %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1"><%=link_to room.room_number, room %></td>
            <td class="col-1"><%=h room.students_per_room %></td>
            <td class="col-2 align-right"><%=h room.rent_in_bucks %></td>
            <td class="col-4">
              <%= link_to 'Edit', edit_room_path(room) %>
              <%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2">No rooms added in this hostel</td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= will_paginate @hostels %>
  <br />

  <%= link_to 'New room', new_room_path, :class => 'action_button'  %>
</div>
