<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>New room</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <div id="necessary-field-notification"> Fields marked with <span class="necessary-field">*</span> must be filled.</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="form-content">
    <% form_for(@room) do |f| %>
      <%= f.error_messages %>

      <div class="label-field-pair">
        <label for="hostel">Hostel<span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.collection_select :hostel_id, Hostel.all, :id, :name %></div>
      </div>
      <div class="label-field-pair">
        <label for="room_number">Room number<span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.text_field :room_number %></div>
      </div>
      <div class="label-field-pair">
        <label for="students_per_room">Students per room<span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.text_field :students_per_room %></div>
      </div>
      <div class="label-field-pair">
        <label for="rent_in_bucks">Rent<span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.text_field :rent_in_bucks %></div>
      </div>
      <div class="label-field-pair">
        <%= f.label :number_of_rooms %>
        <div class="text-input-bg"><%= f.text_field :number_of_rooms %></div>
      </div>
      <%= f.submit 'Create', :class => 'submit_button'  %>
    <% end %>
  </div>

  <%= link_to 'Back', rooms_path %>

</div>
