<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Room detail</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <table width="700" class="list">
    <tbody>
      <tr class="odd left">
        <td class="">Hostel</td>
        <td class="right"><%=h @room.hostel.name %></td>
      </tr>

      <tr class="even left">
        <td>Room number</td>
        <td class="right"><%=h @room.room_number %></td>
      </tr>

      <tr class="odd left">
        <td>Students per room</td>
        <td class="right"><%=h @room.students_per_room %></td>
      </tr>

      <tr class="odd left">
        <td>Rent</td>
        <td class="right"><%=h @room.rent_in_bucks %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_room_path(@room) %> |
  <%= link_to 'Back', rooms_path %>

</div>
