<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Editing hostel</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="edit">
  <div id="necessary-field-notification"> Fields marked with <span class="necessary-field">*</span> must be filled.</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(@hostel) do |f| %>
    <%= f.error_messages %>

    <div class="label-field-pair">
      <label for="name">Name<span class="necessary-field">*</span></label>
      <%= f.text_field :name %>
    </div>
    <div class="label-field-pair">
      <%= f.label :type %>
      <%= f.radio_button :type, 'ladies' %>
      <label class="label_for_radio"> Ladies</label>
      <%= f.radio_button :type, 'gents' %>
      <label class="label_for_radio"> Gents</label>
    </div>
    <div class="label-field-pair">
      <%= f.label :other_information %>
      <%= f.text_field :other_information %>
    </div>
    <%= f.submit 'Update', :class => 'submit_button'  %>
  <% end %>

  <%= link_to 'Show', @hostel %> |
  <%= link_to 'Back', hostels_path %>
</div>
