<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Listing Hostels </h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <table class="list">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Other information</th>
    </tr>

  <% @hostels.each do |hostel| %>
    <tr>
      <td><%=h hostel.name %></td>
      <td><%=h hostel.type %></td>
      <td><%=h hostel.other_information %></td>
      <td><%= link_to 'Show', hostel %></td>
      <td><%= link_to 'Edit', edit_hostel_path(hostel) %></td>
      <td><%= link_to 'Destroy', hostel, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New hostel', new_hostel_path %>
</div>
