<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Listing Hostels </h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <% if @hostels.any? %>
      <tr class="tr-head">
        <th>Sl no.</th>
        <th>Name</th>
        <th>Type</th>
        <th>Other information</th>
        <th>Actions</th>
      </tr>
      <tr class="tr-blank"></tr>

      <% @hostels.each_with_index do |hostel, i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1"><%= i+1 %></td>
          <td class="col-1"><%=link_to hostel.name, hostel %></td>
          <td class="col-1"><%=h hostel.type %></td>
          <td class="col-2"><%=h hostel.other_information %></td>
          <td class="col-2">
            <%= link_to 'Edit', edit_hostel_path(hostel) %>
            <%= link_to 'Destroy', hostel, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2">No hostels added</td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @hostels %>
  <br />

  <%= link_to 'New hostel', new_hostel_path, :class => 'action_button' %>
</div>
