<div id="content-header">
  <%= image_tag("/images/show_settings.png") %>
  <h1>Manage hostels, rooms and fees</h1>
  <h3>Manage hostels, room allocation and fees collection</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('manage_hostels')}" , {:controller => "hostels", :action => "index"} %> </div>
      <div class="link-descr"><%= t('manage_hostel_description') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('manage_rooms')}" , {:controller => "rooms", :action => "index"} %>  </div>
      <div class="link-descr"><%= t('manage_room_description') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('room_allocation')}" , {:controller => "rooms", :action => "allocation"} %>  </div>
      <div class="link-descr"><%= t('room_allocation_description') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('fee_collection')}" , {:controller => "hostels", :action => "fee_collection"} %>  </div>
      <div class="link-descr"><%= t('fee_collection_description') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "Pay hostel fees" , {:controller => "invoices", :action => "show"} %>  </div>
      <div class="link-descr">Pay student hostel fees</div>
    </div>

    <div class="extender"></div>
  </div>
</div>
