<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>New hostel</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">
  <div id="necessary-field-notification"> Fields marked with <span class="necessary-field">*</span> must be filled.</div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(@hostel) do |f| %>
    <%= f.error_messages %>

    <div class="label-field-pair">
      <label for="name">Name<span class="necessary-field">*</span></label>
      <div class="text-input-bg"><%= f.text_field :name %></div>
    </div>
    <div class="label-field-pair">
      <%= f.label :type %>
      <div class="student_gender_value">
        <%= f.radio_button :type, 'ladies', :checked => true %>
        <label class="label_for_radio"> Ladies</label>
        <%= f.radio_button :type, 'gents' %>
        <label class="label_for_radio">Gents</label>
      </div>
    </div>
    <div class="label-field-pair">
      <%= f.label :other_information %>
      <div class="text-input-bg">
        <%= f.text_field :other_information %>
      </div>
    </div>

    <div>
      <%= f.submit 'Create', :class => 'submit_button' %>
    </div>

  <% end %>

  <%= link_to 'Back', hostels_path %>
</div>
