<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>New hostel</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="list">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for(@hostel) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :type %><br />
      <%= f.radio_button :type, 'ladies', :checked => true %>
      <%= label :type, 'Ladies' %>
      <%= f.radio_button :type, 'gents' %>
      <%= label :type, 'Gents' %><br />
    </p>
    <p>
      <%= f.label :other_information %><br />
      <%= f.text_area :other_information %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <%= link_to 'Back', hostels_path %>
</div>
