<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1>Hostel detail</h1>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield" class="detail">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <table width="700" class="list">
    <tbody>
      <tr class="odd left">
        <td class="">Name</td>
        <td class="right"><%=h @hostel.name %></td>
      </tr>

      <tr class="even left">
        <td>Type</td>
        <td class="right"><%=h @hostel.type %></td>
      </tr>

      <tr class="odd left">
        <td>Other information</td>
        <td class="right"><%=h @hostel.other_information %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_hostel_path(@hostel) %> |
  <%= link_to 'Back', hostels_path %>

</div>
