<div id="side_bar">

  <div id="sidebar_news_area">
    <% if action_name == "dashboard" %>
      <%= link_to " ", { :controller => "news", :action => "index" }, :id => 'news_feed_top_img' %>
      <div id="news_feed">
        <% @dash_news.each do |n| %>
          <div class="sidebar_news_item<%= cycle("0", "1") %>">
            <h5><%= link_to n.title, :controller => 'news', :action => 'view', :id => n.id %></h5>
            <small><%= time_ago_in_words(n.created_at) %> ago</small>
          </div>
        <% end %>
        <div class="extender"> </div>
        <%= link_to image_tag("/images/fedena_user/dashboard/news_feed_more_link.jpg", :border => 0), {:controller => "news", :action => "all"} %>
      </div>
    <% end %>
  </div>
</div>
